:root{
    --background-highlight-container: #fff7ed;
    --color-health-icon: #374151;
    --background-page-alternative: #F6F5F4;
}

.detailsContainer{
    background-color: #ffffff;
    padding: 20px;
}

.infoContainer{
    padding: 10px;
}

.infoTitle{
    position: relative;
    display: flex;
    gap: 10px;
    font-size: 0.5em;
    color: var(--title-color);
    margin-bottom: 16px;
}

.iconTitle{
    align-self: center;
    color: var(--primary-color);
    width: 19px;
    height: 19px;
}

.infoText{
    font-size: 0.9em;
    margin-bottom: 16px;
}

.highlightContainer{
    background-color: var(--background-highlight-container);
    color: #7c2d12;
    line-height: 1.6;
    font-size: 0.85em;
    font-weight: 500;
    padding: 20px;
    border-radius: 16px;
    max-width: 465px;
    max-height: 90px;
}

.personalityContainer{
    font-size: 0.85em;
}

.listContainer{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
}

.listIcons{
    width: 18px;
    height: 18px;
}

.tableList{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.healthIcons{
    color: var(--color-health-icon);
}

.sectionDivider{
    border: none;
    border-top: 1px solid #e5e7eb; 
    margin: 16px auto;
    width: 95%;
}

/*Config para telas maiores*/
@media screen and (min-width: 768px) {
    .detailsContainer{
        background-color: var(--background-page-alternative);
    }

    .sectionDivider{
        display: none;
    }

    .infoContainer{
        background-color: #ffffff;
        border-radius: 20px;
        padding: 32px;
        width: 100%;
        padding: 40px 20px;
    }

    .containerResponsive{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(6, 1fr);
        align-items: stretch;
        max-width: 1200px;
        margin: auto;
        gap: 24px;
        padding: 15px;
    }

    .history{
        margin-left: auto;
        margin-right: 10px;
    }

    .bigCard{
        grid-column: span 3;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .smallCard{
        grid-row: 2 / 2;
        grid-column: span 2;
    }
}
