.hero{
    border: none;
    width: 50%;
    border-radius: 8px;
    height: 45px;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.hero:focus-within{
    box-shadow: 0 0 3px var(--primary-color);
    border-color: var(--primary-color);
}

.icon{
    position: relative;
}