.cardContainer{
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.iconArea{
    margin: 20px 0;
    text-align: center;
}

.title{
    margin-bottom: 10px;
}

.description{
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--supporting-color);
    font-weight: bold;
}