:root{
    --backgroud-tag-personality: #EDF2EE;
    --text-color-tag-personality: #4A6B53;
}

.containerPersonality{
    margin: 0 0 20px 11px;
}

.cardPersonality{
    background-color: var(--backgroud-tag-personality);
    color: var(--text-color-tag-personality);
    gap: 8px;
    padding: 6px 14px;
    border-radius: 10px;
    margin-left: 8px;

    font-weight: 650;
    font-size: 0.8em;
}