.cardContainer{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    margin-top: 10px;
    max-width: 300px;
    max-height: 400px;
}

.photo{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.containerInformation{
    display: flex;
    flex-direction: column;
}

.details{
    color: var(--supporting-color);
    font-size: 0.8em;
    font-weight: bold;
}

.space{
    padding: 0 20px 15px;
}

/*Config para telas maiores*/
@media screen and (min-width: 768px) {
    .button{
        padding: 12px;
        font-size: 0.9em;
    }
}
