:root{
    --background-icon: #FFE6D6;
}

.primary{
    background-color: var(--background-icon);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 80px;
    height: 80px;
    padding: 18px;
    color: var(--primary-color);
}