.petSearchContainer{
    padding: 15px;
}

.petCard{
    margin: auto;
}

.input{
    max-width: 800px;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 0.9em;
}

.informationTitle{
    font-size: 2.7em;
    color: var(--title-color);
}

.informationContainer{
    text-align: center;
    margin-bottom: 15px;
}

.informationDescription{
    color: var(--supporting-color);
    font-size: 1em;
    font-weight: 500;
}

.filterCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.filterCard{
    margin: 15px 7px 10px 0;
}

/*Config para telas maiores*/
@media screen and (min-width: 768px) {
    .informationTitle{
        font-size: 2.6em;
    }

    .informationDescription{
        font-size: 1.2em;
    }

    .petCard{
        margin: 0;
    }
}