:root{
    --background-description: #f0f4f1;
    --description-color: #437149;
    --description-message: #6b7280;
}

.cardContainer{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    margin-top: 10px;
}

.photo{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.containerInformation{
    display: flex;
    flex-direction: column;
}

.details{
    color: var(--supporting-color);
    font-size: 0.8em;
    font-weight: bold;
}

.iconDescription{
    position: absolute;
    display: inline-flex;
}

.descriptionTitle{
    text-align: left;
    margin-left: 5%;
    font-size: 0.8em;
    color: var(--title-color);
}

.descriptionMessage{
    color: var(--description-message);
    font-weight: bold;
    font-size: 0.7em;
    text-align: left;
    margin-left: 5%;
}

.description{
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    background-color: var(--background-description);
    color: var(--description-color);
    position: relative;
    gap: 2px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.space{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 15px;
}

/*Config para telas maiores*/
@media screen and (min-width: 768px) {
    .cardContainer{
        display: flex;
        border-radius: 20px;
        margin: auto;
        padding: 24px;
        max-width: 1170px;
        gap: 35px;
    }

    .name{
        font-size: 2.3em;
    }

    .details{
        font-size: 1.1em;
    }

    .descriptionTitle{
        margin-left: 10%;
    }

    .descriptionMessage{
        margin-left: 10%;
    }

    .responsiveContainer{
        width: 70%;
        border-radius: 20px;
        max-width: 455px;
        max-height: 323px;
        margin: auto;
    }

    .photo{
        border-radius: 20px;
        height: 410px;

    }
}

